body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header{
	height:150px;
	background: #e2e1ed;
}
.left{
	float: left;
	padding: 10px
	
}

.right{

	float: right;
	padding: 20px;
}

#edu {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#edu td, #edu th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#edu tr:nth-child(even){background-color: #f2f2f2;}

#edu tr:hover {background-color: #ddd;}

#edu th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2118a3;
    color: white;
    text-align: center;
}

span {
	font-size: 30px;
}
h5{
	display: inline;
}

img .head{
	display: inline;
	width: 30px;
	height: 30px;
}